<div id="dashboard" ng-show="dashboard.isLoggedIn()">
  <h1>Dashboard</h1>
  <h5 ng-show="dashboard.error">{{dashboard.error}}</h5>
  <h4 ng-show="dashboard.currentUser.connections.length > 0">You are connected to:</h4>
  <ul>
    <li ng-repeat="connection in dashboard.currentUser.connections">
      <ul>
        <li>{{connection.name}}</li>
        <li>{{connection.email}}</li>
      </ul>
    </li>
  </ul>
  <h4>Registered Users</h4>
  <ul>
    <li ng-repeat="user in dashboard.users track by $index">
      <ul class="first-indent">
        <li class="user-name">{{user.name}}</li>
        Is connected to:
        <li ng-show="user.connections" ng-repeat="connection in user.connections">
          <ul class="second-indent">
            <li>{{connection.name}}</li>
            <li>{{connection.email}}
          </ul>
        </li>
        <button ng-hide="dashboard.isConnected(user._id)" ng-click="dashboard.connect(user._id)">Connect with {{user.name}}</a></button>
      </ul>
    </li>
  </ul>
</div>